/.ackrc
/.build/
!/.gitignore
/.latest
/Class-C3-XS-*/
/Class-C3-XS-*.tar.gz
/Makefile
/Makefile.old
/META.yml
/META.json
/MYMETA.yml
/MYMETA.json
/blib/
/build/
/pm_to_blib
/*.bs
/*.c
/*.o
/blib/
/_eumm/
!/XS.xs
